<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted"> <p style="color: red;">Copyright &copy; Luci 2022</p></div>
            <div>
                <p  style="color: red;">Diseñado y desarrollado por Teclab 2022 ❤</p>
                <!-- <a href="#">Privacy Policy</a> -->
                <!-- &middot;
                <a href="#">Terms &amp; Conditions</a> -->
            </div>
        </div>
    </div>
</footer>