<nav id="nav-bar" class="nav-sidebar-left width-change accordion d-flex flex-column flex-shrink-0 py-2 px-3 bg-light" id="sidenavAccordion">
	<a href="/" class="d-flex align-items-center link-dark text-decoration-none">
		<a href="#" class="text-center text-decoration-none">
			<img class="hide-text" src="/assets/img/_luci.png" alt="luci logo">
		</a>
	</a>
	<hr>
	<p class="fs-6 text-muted text-uppercase hide-text">General</p>
	<ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<a href="index.html" class="nav-link link-dark align-middle link-hover px-2" aria-current="page">
				<i class="bi bi-speedometer2 icon me-2"></i>
				<span class="hide-text">Dashboard</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link accordion-btn-style collapsed link-dark align-middle link-hover px-2" data-bs-toggle="collapse" data-bs-target="#collapse-pedidos" aria-expanded="false" aria-controls="collapse-pedidos">
				<div class="accordion-btn-title">
					<i class="bi bi-cart-plus icon me-2"></i>
					<span class="hide-text">Pedidos</span>
				</div>
				<i class="fas fa-angle-down accordion-btn-arrow hide-text"></i>
			</a>
			<div class="accordion-collapse collapse" id="collapse-pedidos" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
				<ul class="nav flex-column ms-5">
					<li>
					<a class="nav-link link-dark link-hover" href="Manual.html">Manual</a>
					</li>
					<li>
					<a class="nav-link link-dark link-hover" href="Importar.html">Importar</a>
					</li>
					<li>
					<a class="nav-link link-dark link-hover" href="Consultar.html">Consultar</a>
					</li>
					<li>
					<a class="nav-link link-dark link-hover" href="Generar_Guias.html">Generar guías</a>
					</li>
					<li>
					<a class="nav-link link-dark link-hover" href="Asignar_Guias.html">Asignar guías</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
		<a href="#" class="nav-link accordion-btn-style collapsed link-dark align-middle link-hover px-2" data-bs-toggle="collapse" data-bs-target="#collapse-inventario" aria-expanded="false" aria-controls="collapse-inventario">
			<div class="accordion-btn-title">
				<i class="bi bi-inboxes icon me-2"></i>
				<span class="hide-text">Inventario</span>
			</div>
			<i class="fas fa-angle-down accordion-btn-arrow hide-text"></i>
		</a>
		<div class="accordion-collapse collapse" id="collapse-inventario" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
			<ul class="nav flex-column ms-5">
			<li>
				<a class="nav-link link-dark link-hover" href="Consultar_Invatario.html">Consultar</a>
			</li>
			</ul>
		</div>
		</li>
		<li>
		<a href="#" class="nav-link accordion-btn-style collapsed link-dark align-middle link-hover px-2" data-bs-toggle="collapse" data-bs-target="#collapse-portafolio" aria-expanded="false" aria-controls="collapse-portafolio">
			<div class="accordion-btn-title">
				<i class="bi bi-briefcase icon me-2"></i>
				<span class="hide-text">Portafolio</span>
			</div>
			<i class="fas fa-angle-down accordion-btn-arrow hide-text"></i>
		</a>
		<div class="accordion-collapse collapse" id="collapse-portafolio" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
			<ul class="nav flex-column ms-5">
			<li>
				<a class="nav-link link-dark link-hover" href="Manual_Portafolio.html">Manual</a>
			</li>
			<li>
				<a class="nav-link link-dark link-hover" href="Importar_Portafolio.html">Importar</a>
			</li>
			<li>
				<a class="nav-link link-dark link-hover" href="Consultar_Portafolio.html">Consultar</a>
			</li>
			</ul>
		</div>
		</li>
		<li>
		<a href="#" class="nav-link accordion-btn-style collapsed link-dark align-middle link-hover px-2" data-bs-toggle="collapse" data-bs-target="#collapse-compras" aria-expanded="false" aria-controls="collapse-compras">
			<div class="accordion-btn-title">
				<i class="bi bi-shop icon me-2"></i>
				<span class="hide-text">Compras</span>
			</div>
			<i class="fas fa-angle-down accordion-btn-arrow hide-text"></i>
		</a>
		<div class="accordion-collapse collapse" id="collapse-compras" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
			<ul class="nav flex-column ms-5">
			<li>
				<a class="nav-link link-dark link-hover" href="Emitir_Ordenes.C.html">Emitir ordenes de compra</a>
			</li>
			<li>
				<a class="nav-link link-dark link-hover" href="Consultar_Compra.html">Consultar</a>
			</li>
			</ul>
		</div>
		</li>
		<li>
		<a href="#" class="nav-link accordion-btn-style collapsed link-dark align-middle link-hover px-2" data-bs-toggle="collapse" data-bs-target="#collapse-devoluciones" aria-expanded="false" aria-controls="collapse-devoluciones">
			<div class="accordion-btn-title">
				<i class="bi bi-arrow-clockwise icon me-2"></i>
				<span class="hide-text">Devoluciones</span>
			</div>
			<i class="fas fa-angle-down accordion-btn-arrow hide-text"></i>
		</a>
		<div class="accordion-collapse collapse" id="collapse-devoluciones" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
			<ul class="nav flex-column ms-5">
			<li>
				<a class="nav-link link-dark link-hover" href="Ingresar_Devoluciones.html">Ingresar</a>
			</li>
			<li>
				<a class="nav-link link-dark link-hover" href="Consultar_Devoluciones.html">Consultar</a>
			</li>
			</ul>
		</div>
		</li>
		<li>
		<a href="#" class="nav-link accordion-btn-style collapsed link-dark align-middle link-hover px-2" data-bs-toggle="collapse" data-bs-target="#collapse-descargas" aria-expanded="false" aria-controls="collapse-descargas">
			<div class="accordion-btn-title">
				<i class="bi bi-cloud-download icon me-2"></i>
				<span class="hide-text">Descargas</span>
			</div>
			<i class="fas fa-angle-down accordion-btn-arrow hide-text"></i>
		</a>
		<div class="accordion-collapse collapse" id="collapse-descargas" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
			<ul class="nav flex-column ms-5">
			<li>
				<a class="nav-link link-dark link-hover" href="Descargar_Plantilla.html">Descargar Plantillas</a>
			</li>
			<li>
				<a class="nav-link link-dark link-hover" href="Descargar_Documentos.html">Descargar Documentos</a>
			</li>
			</ul>
		</div>
		</li>
	</ul>
	<hr>
	<p class="fs-6 text-muted text-uppercase hide-text">Ayuda</p>
	<ul class="nav nav-pills flex-column mb-auto">
		<li>
		<a href="#" class="nav-link accordion-btn-style collapsed link-dark align-middle link-hover px-2" data-bs-toggle="collapse" data-bs-target="#collapse-config" aria-expanded="false" aria-controls="collapse-config">
			<div class="accordion-btn-title">
				<i class="bi bi-gear icon me-2"></i>
				<span class="hide-text">Configuración</span>
			</div>
			<i class="fas fa-angle-down accordion-btn-arrow hide-text"></i>
		</a>
		<div class="accordion-collapse collapse" id="collapse-config" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
			<ul class="nav flex-column ms-5">
			<li>
				<a class="nav-link link-dark link-hover" href="RegistrarUsuarios_config.html">Registrar Usuarios</a>
			</li>
			<li>
				<a class="nav-link link-dark link-hover" href="RegistrarCliente_config.html">Registrar Cuentas</a>
			</li>
			<li>
				<a class="nav-link link-dark link-hover" href="Estados_config.html">Estados</a>
			</li>
			</ul>
		</div>
		</li>
		<li>
		<a href="https://teclab.com.co/help/?nombre=JUAN%20URIBE&telefono=3217662040&get_link=luci" class="nav-link link-dark align-middle link-hover px-2">
			<i class="bi bi-megaphone icon me-2"></i>
			<span class="hide-text">Soporte</span>
		</a>
		</li>
	</ul>
</nav>