/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --bg-red-main: #db3d30;
    --bg-white: #fff;
}

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    position: relative;
}

.text-main-red {
    color: #db3d30;
}

.text-main-red:focus {
    box-shadow: none;
    color: #db3d30;
}

.btn-primary {
    background-color: #db3d30;
    border: 1px solid #db3d30;
}
.btn-primary:hover {
    background-color: #ac3125;
    border: 1px solid #ac3125;
}

.form-control:focus {
    box-shadow: none;
}

.main {
    width: 100%;
    overflow: hidden;
}

/* Classes to change sidebar view */

.aside {
    left: -280px;
    width: 280px;
    transition: 300ms ease-in-out;
}

.aside-change {
    left: 0px;
}

.padding-base {
    padding-left: 24px;
    transition: 300ms ease-in-out;
}

.padding-change {
    padding-left: 300px;

}

/* End of classes to change sidebar view */

.img-90 {
    width: 90px !important;
}

thead input {
    width: 100%;
}

.body-table {
    padding: 3%;
    background-color: #ffff;
    border-radius: 2%;
}

.card-shadow {
    box-shadow: 5px 8px 8px 3px #0b0b0b;
}

/* Consult Styles */

.form-select-short {
    margin: 0 10px;
    padding: 4px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    color: #715d5d;
}

.form-select-short:focus-visible {
    box-shadow: none;
    outline: none;
}

.page-link:hover {
    color: #db3d30;
}