/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

:root {
    --bg-red-main: #d66158;
    --bg-blue-main: #376371;
    --bg-green-main : #58D68C;
    --bg-white: #fff;
}

html {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

p {
    margin: 0;
}

.text-main-red {
    color: var(--bg-red-main);
}

.text-main-red:focus {
    box-shadow: none;
    color: var(--bg-red-main);
}

.text-main-green {
    color: var(--bg-green-main);
}

.btn-primary {
    background-color: var(--bg-red-main);
    border: 1px solid var(--bg-red-main);
}
.btn-primary:hover {
    background-color: #ac3125;
    border: 1px solid #ac3125;
}

.form-control:focus {
    box-shadow: none;
}

.main {
    width: 100%;
    overflow: hidden;
}

/* Classes to change sidebar view */

.aside {
    left: 0px;
    width: 280px;
    transition: 300ms ease-in-out;
}

.aside-change {
    left: -280px;
}

.padding-base {
    padding-left: 300px;
    transition: 300ms ease-in-out;
}

.padding-change {
    padding-left: 24px;

}

/* Estilos para el modal */

.modal-xl {
    max-width: 1400px;
}

.modal-rounded {
    border-radius: 16px;
}

.card-body-background {
    background-color: rgba(0, 0, 0, .03);
}

.contact-info {
    background-color: #f7f6f6;
    width: 75%;
    padding: 16px;
    border-radius: 16px;
  }

  .icon-user {
    color: var(--bg-red-main);
    font-size: 6rem;
  }

  .icon-arrow-down {
    color: var(--bg-red-main);
    font-size: 3rem;
  }

  .product-gray {
    padding: 16px;
    background-color: #f7f6f6;
  }

  .product-white {
    padding: 16px;
    background-color: #fff;
  }

  .img-round img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

/* Estilo tabla consulta */

.border-bottom-red {
    border-bottom: var(--bg-red-main);
}

.body-table {
    padding: 3%;
    background-color: #ffff;
    border-radius: 2%;
}

.card-shadow {
    box-shadow: 5px 8px 8px 3px #0b0b0b;
}

thead {
    background-color: var(--bg-red-main);
    color: white;
}

thead tr th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-red-main)!important;
}

tbody {
    border-top: none!important;
}

.table-responsive {
    height: 600px;
    overflow-y: scroll;
}

.table-responsive::-webkit-scrollbar {
    width: 8px;
}

 /* Estilos barra (thumb) de scroll */
 .table-responsive::-webkit-scrollbar-thumb {
    background: var(--bg-red-main);
    border-radius: 0 .25rem .25rem 0;
  }
  
  .table-responsive::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .table-responsive::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 0 .25rem .25rem 0;
  }
  
  .table-responsive::-webkit-scrollbar-track:hover, 
  .table-responsive::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  



/* Consult Styles */

.form-select-short {
    margin: 0 10px;
    padding: 4px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    color: #715d5d;
}

.form-select-short:focus-visible {
    box-shadow: none;
    outline: none;
}

.page-link:hover {
    color: var(--bg-red-main);
}

/* Estilos del Dashboard */

.card-dashboard {
    min-height: 275px;
}

.link-main-black {
    transition: 200ms ease;
}

.link-main-black:hover {
    color: var(--bg-red-main);
}

/* Estilos de estados en pedidos */

.estado-entregado, .estado-preparado, .estado-programado, .estado-transportadora {
    padding: 4px 8px;
    border-radius: 4px;
}

.estado-programado {
    background-color: #ffe1a4;
}

.estado-preparado {
    background-color: #c7cfd1;
    
}

.estado-transportadora {
    background-color: #99B579;
}

.estado-entregado {
    background-color: #c5e89c;
}