/* Estilos del login */

html, body {
  height: 100vh;
}

.logo-img {
    width: 240px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}

.btn-primary {
    color: #fff;
    border: #db3d30;
    background-color: #db3d30;
}

.btn-primary:hover {
    border: #b33327;
    background-color: #b33327;
}

.btn-primary:focus {
  border: #db3d30;
  background-color: #db3d30;
  box-shadow: none;
}

