/* Navbar Main Styles */
.navbar {
    height: 60px;
}

.nav-link-red {
    color: #db3d30;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.nav-link-red:focus {
    color: #b43227;
}

.nav-link-red:hover {
    color: #b43227;
}

.btn-menu {
    transition: 0.2s ease-in-out;
}

.btn-menu:focus {
    box-shadow: none;
}

.img-profile {
    cursor: pointer;
    border: 2px solid #db3d30;
    border-radius: 50%;
    width: 5rem;
    height: 3rem;
}

.btn-logout:focus {
    box-shadow: none;
}

