/* Sidebar Main Styles */

.nav-sidebar-left {
  height: 100vh;
  min-height: 100vh;
  z-index: 1037;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.nav-flush .nav-link {
  border-radius: 0;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.p-dashboard {
  padding: 16px 20px;
}

.icon {
  color: #db3d30;
  font-size: 1.5rem;
}

.img-icon {
  width: 56px;
}

.link-hover {
  transition: 200ms ease-in;
}

.link-hover:hover {
  color: #db3d30;
}

.accordion-btn-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-btn-arrow {
  transform: rotate(90deg);
  transition: transform 200ms ease-in-out;
}

.accordion-btn-style:not(.collapsed) {
  color: #fff;
  background-color: #db3d30;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-btn-style:not(.collapsed) .accordion-btn-arrow {
  color: #fff;
  transform: rotate(0deg);
}

.accordion-btn-style:not(.collapsed) .icon {
  color: #fff;
}

